<article class="post">

    <div class="title">
        <h1>{{title}}</h1>
    </div>

    <div class="">
        <p class="pb-3 mb-3 ml-3">{{post_content}}</p>
    </div>

    <div class="meta mt-3 border-bottom">

          by {{user.username}} on {{format_date created_at}}

       
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>

    </div>

</article>